/* Hide scrollbar for Chrome, Safari and Opera */
.add_meal ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.add_meal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cart_mobile {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  width: 100vw;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  bottom: 0px;
  display: none;
  position: sticky;
  height: max-content;
}
.close_icon_p {
  margin: 0;
  text-align: end;
}
.close_icon {
  cursor: pointer;
}
.cart_btn_inactive,
.cart_btn_active {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  background-color: var(--light-grey);
}
.cart_btn_inactive:hover,
.cart_btn_active:hover {
  opacity: 0.8;
}
.cart_btn_active {
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #8f3c82;
  justify-content: space-between;
}
.add_meal {
  overflow-y: auto;
  max-height: 60vh;
}
.add_meal,
.delivery_fee {
  border-bottom: 1px solid var(--light-grey);
}
.add_meal_line,
.delivery_fee > p,
.total_order > p {
  line-height: 1.5rem;
  color: var(--secondary-black);
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_meal_line .col_1 {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.add_meal_line .col_1 span {
  margin-right: 3px;
}
.add_meal_line .col_1 .meal_name {
  margin-left: 5px;
}
.add_meal_line .col_2 {
  min-width: max-content;
}
.add_meal_line .col_1 .minus,
.add_meal_line .col_1 .plus {
  color: var(--main-green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.delivery_fee > p {
  margin: 10px 0;
}

.total_order > p {
  font-size: 1.2rem;
  color: var(--primary-black);
  font-weight: bold;
}
.empty_cart {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-grey);
}
.active {
  background-color: #8f3c82;
}
.total_count {
  width: 30px;
  height: 30px;
  background-color: #36054f;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .cart_mobile {
    display: block;
  }
}
